{% extends 'base.html' %}


{% block content %}


{% if error %}
<h1>Ви ввели не вірні пошту чи пароль</h1>
<h3>Спробуйте ще раз</h3>
{% else %}
<h1>Просимо ввести пошту та пароль</h1>


{% endif %}

<form method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required name="email" value="{{email_value}}">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" required minlength="8" name="password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}