
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Головна</a>
        </li>
      </ul>

      <form class="d-flex" role="search" method="post" action="{{ url_for('index') }}">
        <input class="form-control me-2" type="search" name="query" placeholder="введіть назву товару" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Пошук</button>
      </form>

      {% if not user %}
     <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('web_register') }}">Зареєструватися</a>
        </li>
      </ul>
           <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('web_register') }}">Залогінитися</a>
        </li>
      </ul>
      {% else %}
            </ul>
           <ul class="navbar-nav">
        <li class="nav-item">
          <p class="nav-link active" >Вітаємо тебе, {{ user.name }}</p>
        </li>
      </ul>
      {% endif %}

    </div>
  </div>
</nav>
